/* Global Styles */
*{ 
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #855756;
    font-family: 'Patrick Hand SC', cursive;
}

nav{
    display: flex;
    justify-content: center;
}

/* Header Styles */
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#header-component{
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: #A9A695;
    text-decoration: none;
    transition: all .2s ease;
}

#header-component:hover{
    color: #445463;
}

.social-media-icon{
    height: 25px;
    width: auto;
}

.social-media-navbar{
    padding-bottom: 2px;
}

.page-navbar{
    border-top: 2px solid #445463;
}

.whole-navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
}

.link{
    margin-right: 15px;
    text-decoration: none;
    color: #A9A695;
    font-size: 1.6em;
    transition: all .2s ease;
}

.link:last-child{
    margin-right: 0;
}

.link:hover{
    color: #445463;
}

.home-link{
    text-decoration: none;
}

/* Main Styles*/

/* Footer Styles*/